---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Stats from '../components/Stats.astro';
import About from '../components/About.astro';
import Alerts from '../components/Alerts.astro';
import Services from '../components/Services.astro';
import Testimonials from '../components/Testimonials.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';

const title = "Geovani Miranda - Fonoaudiólogo";
---

<Layout title={title}>
  <Header />
  <main>
    <Hero />
    <Stats />
    <About />
    <Alerts />
    <Services />
    <Testimonials />
    <Contact />
  </main>
  <Footer />
</Layout>
