---
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Fonoaudiólogo Geovani Miranda | Tratamento da Fala e Voz" } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-br" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    
    <!-- Scripts Globais (Opcional) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&family=Noto+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
  </head>
  <body class="bg-background text-text font-body overflow-x-hidden w-full">
    <slot />
  </body>
</html>
